
h1 {
  background-color:pink;
}
.about{
  background: :
}

body{
  font-family: 'Dancing Script', cursive;
  background-image:url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiRoKzHj4jkAhVIgK0KHYbIC-oQjRx6BAgBEAQ&url=https%3A%2F%2Fkelpls.co.nz%2Fproducts%2Frosco-supergel-33-no-colour-pink&psig=AOvVaw2sUWS5T1pzrehSXbTArTbj&ust=1566070007826019)

}

header{
  background:lightblue;
}

img{
       margin-left: 50%;
 }

/* */
